@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  div {
    padding-inline: 2vw;
    padding-block: 2vh;
  }
}
:root {
  --font-assistant: var(--font-assistant);
  --font-inria-serif: var(--font-inria-serif);
  --font-julius-sans: var(--font-julius-sans);
  --font-rozha-one: var(--font-rozha-one);
}
