@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .main {
    @apply px-[4vw] md:px-[12vw] lg:py-[4vh] md:py-[2vh] py-[2vh]; /* Apply Tailwind utilities here */
  }
  .container {
    @apply px-[2vw] py-[2vh]; /* Apply Tailwind utilities here */
  }
  .title {
    @apply text-4xl lg:text-5xl md:text-5xl font-extrabold font-assistant;
  }
  .subheading {
    @apply text-3xl lg:text-4xl md:text-4xl font-extrabold font-assistant;
  }
  .base {
    @apply text-base font-light font-assistant;
  }
}
:root {
  --font-assistant: "Assistant", sans-serif;
  --font-inria-serif: "Inria Serif", serif;
  --font-julius-sans: "Julius Sans One", sans-serif;
  --font-rozha-one: "Rozha One", serif;
}
